<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>

    <body>
        <div class="container p-5">
            <h1 class="text-center">Edit {{ show.title }}</h1> 
            <a href="/shows" class="offset-3 btn btn-danger">Back</a>
            <form class=" offset-3 col-6" method="POST" action="/shows/edit/{{ show.id }}">{% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control" id="exampleInputEmail1"
                        placeholder="Enter the title of the TVshow" name="title" value="{{show.title}}">
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="exampleInputPassword1">Network</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" name="network" value="{{ show.network }}">
                    </div>
                    <div class="form-group col-6">
                        <label for="exampleInputPassword1">Release Date</label>
                        <input type="date" class="form-control" id="exampleInputPassword1" name="release" value="{{ show.release|date:'Y-m-d' }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        style="resize:none" name="desc">{{show.desc}}</textarea>
                </div>
                <div class="text-center form-group mt-5">
                    <button class="btn-primary btn" type="submit">Submit</button>
                </div>
            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>

</html>